<h1>Person Name</h1>
<%= @figure.name %>
<br></br>
<label>Landmarks</label>
<% @figure.landmarks.each do |landmark| %>
	<li><%= landmark.name %></li>
<% end %>
<br></br>
<label>Titles</label>
<% @figure.titles.each do |title| %>
	<li><%= title.name %></li>
<% end %>
<br></br>
<a href="/">Back to Main Page</a>